@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
/* Font is "Sedgwick Ave */


body {
    font-family: Arial, sans-serif;
    color: pink;
    font-weight: bold;
    margin: 0x;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(to right, #dde4e7, #72686a); */
    background-image: url("../assets/images/5073414.jpg"); 
}

/*
.back {
   margin-left: 1600px;
}

/*
#game {
    background-color: red;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
#instructions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }



.button {
    background-color: black;
    color: pink;
    width: 400px;
    height: 200px;
    font-size: 50px;
    /*
    display: flex;
    flex-direction: row; 
    text-align: center;  */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%; 
    margin-top: 20%;
    display: block;
    border-radius: 25%;
    
    
}

h1 {
    font-size: 3.5rem;
    color: pink;
    font-family: "Sedgwick Ave", sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-family: "Sedgwick Ave", sans-serif;
}

#rock {
    color: orange;
    padding: 10px;
        
}

#plane {
    color: blue;
    padding: 10px;
}

#scissors {
    color: silver;
    padding: 10px;
}

#lizard {
    color: green;
    padding: 10px;
    
}

#spock {
    color: red;
    padding: 10px;
   
}

#rock, #plane, #scissors, #lizard, #spock {
    margin-bottom: 30px;
    font-size: 12.5rem;
    cursor: pointer;
    max-width: 66%;
    transition: background-color 0.5s ease-in;
    text-align: center;
    background-color: black;
    border-radius: 25%;
}
/*
.choices {
    margin-bottom: 30px;
    font-size: 12.5rem;
    cursor: pointer;
    max-width: 66%;
    transition: background-color 0.5s ease-in;
    text-align: center;
    background-color: black;
    border-radius: 25%;
    
    
}

/* not used currently
.choices img {
    font-size: 7.5rem;
    max-width: 50%;
    margin: 0 10px;
    border-radius: 250px;
    cursor: pointer;
    text-align: center;
   transition: background-color 0.5s ease-in;
         
}
    /* Changes button color to red */ 
.choices button:hover {
    background-color: red;
}

#playerDisplay, #computerDisplay {
    font-size: 2rem;
    background-color: black;
}    

#resultDisplay {
    font-size: 5rem;
    margin: 30px;
   
}

.scoreDisplay {
    font-size: 2rem;
    max-width: 66%;
    background-color: black;

}

.greenText, #playerScoreDisplay {
    color: green;
}

.redText, #computerScoreDisplay {
    color: red;
}

.blueText, #tieScoreDisplay {
    color: white;
}
